<div class="tm-container-outer tm-banner-bg">
  <div class="container">
    <div class="tm-banner-row" id="tm-section-search">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form tm-section-pad-2">
        <div class="form-group">
          <label for="inputLogin">Email</label>
          <input name="email" type="text" formControlName="email" class="form-control" id="inputEmail"
            placeholder="Type your email ..." [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input name="password" type="password" formControlName="password" class="form-control" id="inputPassword"
            placeholder="Type your password ..." [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" id="btnSubmit" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
        <div class="form-group">
          Don't have account? <a href="http://localhost:4200/registration">Register</a>
        </div>
      </form>
    </div>
    <div class="tm-banner-overlay"></div>
  </div>
</div>

<section class="p-5 tm-container-outer tm-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
        <h2 class="text-uppercase mb-4">Your <strong>Journey</strong> is our priority</h2>
      </div>
    </div>
  </div>
</section>

<footer class="tm-container-outer"></footer>
